.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

form {
  margin: 20px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

body {
  margin: 0; /* Remove default body margin */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* background: url("/public/HP_wallpaper.jpg"); Optional: Add a background color */
  background-size: cover;
}